In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data", header = None)
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [3]:
df.drop(6, axis = 1, inplace = True)

In [4]:
df.columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety']

df.head()

  buying  maint doors persons lug_boot safety
0  vhigh  vhigh     2       2    small    low
1  vhigh  vhigh     2       2    small    med
2  vhigh  vhigh     2       2    small   high
3  vhigh  vhigh     2       2      med    low
4  vhigh  vhigh     2       2      med    med

In [5]:
df.nunique()

buying      4
maint       4
doors       4
persons     3
lug_boot    3
safety      3
dtype: int64

In [6]:
# all data is categorical, seems pretty easy. Just label encode everything

df.buying.value_counts()

high     432
vhigh    432
low      432
med      432
Name: buying, dtype: int64

In [7]:
df.maint.value_counts()

high     432
vhigh    432
low      432
med      432
Name: maint, dtype: int64

In [8]:
df.doors.value_counts()

2        432
3        432
5more    432
4        432
Name: doors, dtype: int64

In [9]:
df.persons.value_counts()

2       576
more    576
4       576
Name: persons, dtype: int64

In [10]:
df.lug_boot.value_counts()

big      576
small    576
med      576
Name: lug_boot, dtype: int64

In [11]:
df.safety.value_counts()

high    576
low     576
med     576
Name: safety, dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()

for col in df:
    df[col] = label.fit_transform(df[col])

In [13]:
df.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      0        0         2       1
1       3      3      0        0         2       2
2       3      3      0        0         2       0
3       3      3      0        0         1       1
4       3      3      0        0         1       2

In [26]:
from sklearn.model_selection import train_test_split

X = df.drop('safety', axis = 1)
y = df['safety']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

log = LogisticRegression()
log.fit(X_train, y_train)
Prediction = log.predict(X_test)

print("Accuracy score: " + str(accuracy_score(y_test, Prediction)))

Accuracy score: 0.2861271676300578

In [28]:
# that's a really bad score.


from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 1)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

print("Accuracy score: " + str(accuracy_score(y_test, y_pred)))

Accuracy score: 0.011560693641618497

In [29]:
# wow. it got worse. why??

from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, y_train)
y_pred = random_forest.predict(X_test)

print("Accuracy score: " + str(accuracy_score(y_test, y_pred)))

Accuracy score: 0.011560693641618497

In [30]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(X_train, y_train)
y_pred = svc.predict(X_test)

print("Accuracy score: " + str(accuracy_score(y_test, y_pred)))

Accuracy score: 0.15895953757225434

In [31]:
from sklearn.naive_bayes import GaussianNB

gaussian = GaussianNB()
gaussian.fit(X_train, y_train)
y_pred = gaussian.predict(X_test)

print("Accuracy score: " + str(accuracy_score(y_test, y_pred)))

Accuracy score: 0.24855491329479767

In [32]:
from sklearn.tree import DecisionTreeClassifier
model1 = DecisionTreeClassifier(random_state=1)
model1.fit(X_train, y_train)
y_pred = model1.predict(X_test)

print("Accuracy score: " + str(accuracy_score(y_test, y_pred)))

Accuracy score: 0.011560693641618497

In [33]:
from xgboost import XGBClassifier

model = XGBClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("Accuracy score: " + str(accuracy_score(y_test, y_pred)))

Accuracy score: 0.11271676300578035

In [34]:
from sklearn.neural_network import MLPClassifier

clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes = (5, 2), random_state = 1)

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

print("Accuracy score: " + str(accuracy_score(y_test, y_pred)))

Accuracy score: 0.3063583815028902

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

In [35]:
clf

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(5, 2), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=1, shuffle=True, solver='lbfgs',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)